*{margin: 0; padding: 0; background: fff; color: #000;}
.alignCenter{text-align: center;} .alignLeft{text-align: left;} .alignRight{text-align: right;} .alignJustify{text-align: justify;}
.full{width: 100%;} .half{width: 50%;} .third{width: 33.33%} .quarter{width: 25%;}
